body{
    background-color: rgb(229, 249, 255);
    color: rgb(64, 176, 208);
    width: 1920px;
    height: 1080px;
}

a{
    font-size: 25px;
    font-family: Arial Black;
    color: rgb(229, 249, 255);
    justify-content: center;
    text-decoration: none;
}

h1{
    font-size: 50px;
    font-family: Arial Black;
}

h2{
    font-size: 25px;
    font-family: Arial Black;
}

.Menu li{
    font-size: 25px;
    display: flex;
    display: inline-block;
    justify-content: center;
}

.from{
    width: 400px;
    background-color: rgb(64, 176, 208);
}

input {
    font-size: 25px;
    font-family: Arial Black;
    color: rgb(229, 249, 255);
    background-color: rgb(64, 176, 208);
    border-style: none;
}

select{
    font-size: 25px;
    font-family: Arial Black;
    color: rgb(229, 249, 255);
    background-color: rgb(64, 176, 208);
    border-style: none;
}

label{
    font-size: 25px;
    font-family: Arial Black;
    color: rgb(64, 176, 208);
    border-style: none;
}

button{
    font-size: 25px;
    font-family: Arial Black;
    color: rgb(229, 249, 255);
    background-color: rgb(64, 176, 208);
    border-style: none;
}

button:hover{
    font-size: 25px;
    font-family: Arial Black;
    color: rgb(229, 249, 255);
    background-color: rgb(45, 126, 148);
    border-style: none;
}

select{
    font-size: 25px;
    font-family: Arial Black;
    color: rgb(64, 176, 208);
    border-style: none;
}

option{
    font-size: 25px;
    font-family: Arial Black;
    color: rgb(64, 176, 208);
    border-style: none;
}

